.account {
    float: right;
    margin: 1.5% 2%;
    width: 250px;
    height: 50px;
    border: 2px #E98596 solid;
    border-radius: 30px;
    background-color: #FFC0CB;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}