body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

#container_status {
    display: none;
    background-color: brown;
}

.error_status {
    padding: 2px 25px;
    background-color: rgb(231, 88, 88);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px #d80629 solid;
    border-radius: 20px;
}

.ok_status {
    background-color: rgb(74, 210, 74);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px #21b407 solid;
    border-radius: 20px;
}

.main__container {
    position: relative;
    border: 3px #E98596 solid;
    border-radius: 30px;
    width: 97vw;
    height: 97vh;
    margin: 5px;
}

.account {
    float: right;
    margin: 1.5% 2%;
    width: 250px;
    height: 50px;
    border: 2px #E98596 solid;
    border-radius: 30px;
    background-color: #FFC0CB;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container__form__sending {
    position: absolute;
    top: 15%;
    right: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__field__status {
    border: 3px #FFC0CB solid;
    border-radius: 30px;
    width: 60vw;
    height: 60vh;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.form__sending {
    border: 1px #FFC0CB solid;
    border-radius: 20px;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 20px;
    resize: none;
}

.form__sending:focus {
    border: 5px #FFC0CB  solid;
}

.container__status {
    margin: 0 auto;
    margin-bottom: 15px;
}

.button__summarize {
    padding: 0 10px;
    width: 25vw;
    height: 6vh;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px #E98596 solid;
    border-radius: 30px;
    background-color: #FFC0CB;
    font-size: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img__main {
    width: 30vw;
    height: 40vh;
    margin-top: 180px;
    margin-left: 15px;
}