<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brief Master</title>
    <link href="/imgs/static-files/css/main.css" rel="stylesheet">
</head>
<body>
    <main class="main">
        <div class="main__container ">
            <button class="account" name="button__account">Account</button>
            <img class="img__main" src="/imgs/static-files/img/image.png">
            <div class="container__form__sending">
                <div class="container__field__status">
                    <textarea class="form__sending"></textarea>
                    <div class="container__status">
                    </div>
                </div>
                <button class="button__summarize">Summarize</button>
            </div>
        </div>
    </main>
    <script src="/imgs/static-files/js/main.js"></script>
</body>
</html>